@font-face {
  font-family: 'Lato-Black';
  src: url('Lato-Black.eot'); /* IE9 Compat Modes */
  src: url('Lato-Black.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('Lato-Black.woff2') format('woff2'),
    /* Modern Browsers */ url('Lato-Black.woff') format('woff'),
    /* Modern Browsers */ url('Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Black-Italic';
  src: url('Lato-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('Lato-BlackItalic.woff2') format('woff2'),
    /* Modern Browsers */ url('Lato-BlackItalic.woff') format('woff'),
    /* Modern Browsers */ url('Lato-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('Lato-Bold.woff2') format('woff2'),
    /* Modern Browsers */ url('Lato-Bold.woff') format('woff'),
    /* Modern Browsers */ url('Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Bold-Italic';
  src: url('Lato-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('Lato-BoldItalic.woff2') format('woff2'),
    /* Modern Browsers */ url('Lato-BoldItalic.woff') format('woff'),
    /* Modern Browsers */ url('Lato-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('Lato-Regular.woff2') format('woff2'),
    /* Modern Browsers */ url('Lato-Regular.woff') format('woff'),
    /* Modern Browsers */ url('Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
